.topper {
  width: 100%;
  padding: 30px 0;
  box-sizing: border-box;
  background: white;
}

.topperContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px; /* same as navbar */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.left {
  flex: 1;
}

.title {
  font-size: 52px;
  font-weight: 700;
  color: #1F2937;
  margin: 0 0 20px;
  line-height: 1.2;
}

.sub {
  font-size: 19px;
  color: #4b5563;
  margin-bottom: 0;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.heroImage {
  width: 100%;
  max-width: 480px;
  height: auto;
  object-fit: contain;
}

/* Tablet and below */
@media screen and (max-width: 992px) {
  .topperContainer {
    padding: 0 24px;
    flex-direction: column;
    text-align: center;
    gap: 5px;
  }

  .right {
    margin-top: 40px;
  }

  .title {
    font-size: 38px;
  }
  .topper {
    padding: 60px 0;
  }
}

/* Small mobile */
@media screen and (max-width: 576px) {
  .title {
    font-size: 37px;
  }

  .sub {
    font-size: 16px;
  }

  .heroImage {
    max-width: 320px;
  }

  .topperContainer{
    gap: 0px;
  }
}
